body {
    background: url("/assets/images/background.jpg");
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

.center-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-box {
    width: 50%;
    height: 410px;
}

@media (max-width: 800px) {
    .center-box {
        width: 100%;
        height: 100%;
    }
}

.center-box h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.profilep {
    width: 200px;
}

.info-box {
    margin-top: 15px;
}